/* General styling */
html {
    height: 100%;
    margin: 0;
}
body {
    height: 100%;
    margin: 0;
    background-color: #555;
}
#logo {
    display: flex;
    align-self: center;
    margin-left: 20px;
    font-weight: 700;
    font-size: 25px;
}
#container {
    min-height: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
}
header {
    background-color: hotpink;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
}
header a {
    text-decoration: none;
    color: inherit;
}
ul {
    display: flex;
    align-items: center;
}
ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: pink;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    height: 30px;
}
ul li:hover {
    background-color: rgb(254,160,176);
}
ul a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}
ul img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
section {
    padding: 20px;
}
img {
    width: 150px;
    height: 150px;
}